.detailsHeader {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	align-items: center;
}

.title {
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 0.06em;
	color: #2e3156;
}

.verticalLineDetails {
	background-color: #5d5f7e;
	border: 0.3px solid #5d5f7e;
	width: 0.3px;
	height: 53px;
}
.idContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.detailsId {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 0.06em;
	color: #2e3156;
}
.buttonStyle {
	background: none;
}

.mobileHeadingCloseContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.mobileHeading {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
	margin-top: 30px;
}

/* .deskTopHeading {
	display: none;
}

@media only screen and (minwidth: 800px) {
	.mobileHeading {
		display: none;
	}
	.deskTopHeading {
		display: block;
	}
} */
