.filterDeskTopContainer {
	
	display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		z-index: 2;
		column-gap: 5%;
		position:absolute;
		left:0;
		right:0;
		
}

@media only screen and (min-width: 800px) {
	.filterDeskTopContainer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		z-index: 2;
		column-gap: 5%;
	}
}
