.filterMobileHeadingContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 6%;
	width: 90%;
	overflow: auto;
}
.filterMobileAllgridContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding: 10%;
	margin: 0px;
	flex-grow: 1;
}

.filterMobileButtonsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	padding: 5%;
	position: fixed;
	bottom: 30px;
	border-top: 1px solid rgba(46, 49, 86, 0.15);
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
}
.filterMobileApplyResetButton {
	width: 132px;
	height: 37px;
	border: 1px solid #2e3156;
	border-radius: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}
